@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.theme-1 {
  --main-background-color: hsl(222, 26%, 31%);
  --toggle-background-color: hsl(223, 31%, 20%);
  --screen-background-color: hsl(224, 36%, 15%);
  --key-background-color: hsl(225, 21%, 49%);
  --key-shadow-color: hsl(224, 28%, 35%);
  --key2-shadow-color: hsl(6, 70%, 34%);
  --key2-background-color: hsl(6, 63%, 50%);
  --key3-background-color: hsl(30, 25%, 89%);
  --key3-shadow-color: hsl(28, 16%, 65%);
  --text-color: hsl(221, 14%, 31%);
  --text2-color: hsl(0, 0%, 100%);
}

.theme-2 {
  --main-background-color: hsl(0, 0%, 90%);
  --toggle-background-color: hsl(0, 5%, 81%);
  --screen-background-color: hsl(0, 0%, 93%);
  --key-background-color: hsl(185, 42%, 37%);
  --key-shadow-color: hsl(185, 58%, 25%);
  --key2-background-color: hsl(25, 98%, 40%);
  --key2-shadow-color: hsl(25, 99%, 27%);
  --key3-background-color: hsl(45, 7%, 89%);
  --key3-shadow-color: hsl(35, 11%, 61%);
  --text-color: hsl(60, 10%, 19%);
  --text2-color: hsl(0, 0%, 100%);
}

.theme-3 {
  --main-background-color: hsl(268, 75%, 9%);
  --toggle-background-color: hsl(268, 71%, 12%);
  --key-background-color: hsl(281, 89%, 26%);
  --key-shadow-color: hsl(285, 91%, 52%);
  --key2-background-color: hsl(176, 100%, 44%);
  --key2-shadow-color: hsl(177, 92%, 70%);
  --key3-background-color: hsl(268, 47%, 21%);
  --key3-shadow-color: hsl(290, 70%, 36%);
  --text-color: hsl(52, 100%, 62%);
  --text2-color: hsl(198, 20%, 13%);
  --text3-color: hsl(0, 0%, 100%);
}

body {
  background: var(--main-background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", Helvetica;
  font-weight: 700;
}
main {
  width: min(40em, 80%);
  display: flex;
  flex-direction: column;
  gap: 1em;
}
nav {
  background: var(--main-background-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.theme-picker {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 1rem;
}
.theme-picker span {
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 10px;
}
.theme {
  display: flex;
  flex-direction: column;
  width: max(10%, 60px);
}
.switch input {
  width: 100%;
}
.nums {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.result {
  border-radius: 10px;
  background: var(--screen-background-color);
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: right;
  padding: clamp(1rem, 2vw, 2rem);
  color: var(--text-color);
  outline: none;
  border: none;
  font-weight: 700;
}
.theme-1 .result,
.theme-1 nav {
  color: white;
}
.theme-3 .result {
  background: var(--toggle-background-color);
}
.calculator {
  background: var(--toggle-background-color);
  border-radius: 10px;
  padding: clamp(1rem, 2vw, 2rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: clamp(1rem, 2vw, 2rem);
  place-items: center;
}
.btn {
  width: 100%;
  padding-block: clamp(0.5rem, 1vh, 1rem);
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 1.75vw, 2rem);
  border-radius: 7px;
  box-shadow: 0 5px 1px var(--key3-shadow-color);
  cursor: pointer;
  background: var(--key3-background-color);
  color: var(--text-color);
  user-select: none;
}
.btn:active {
  transform: translate(-2px, 2px);
  filter: brightness(1.2);
}
.btn-reset {
  grid-column: 1/3;
}
.btn-egal {
  grid-column: 3/5;
}
.btn-egal {
  color: white;
  background: var(--key2-background-color);
  box-shadow: 0 5px 1px var(--key2-shadow-color);
}
.theme-3 .btn-egal {
  color: var(--text2-color);
}
.btn-reset,
.btn-del {
  color: white;
  background-color: var(--key-background-color);
  box-shadow: 0 5px 1px var(--key-shadow-color);
}
.footer {
  color: black;
}
.footer a {
  color: skyblue;
}

.switch input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  background: var(--toggle-background-color);
  border-radius: 20px;
  outline: none;
  transition: 0.3s;
}
.switch input[type="range"]::-moz-range-thumb {
  background: var(--key2-background-color);
  border: none;
  outline: none;
}
.switch input[type="range"]::-webkit-slider-thumb {
  background: var(--key2-background-color);
  border: none;
  outline: none;
}
.switch input[type="range"]::-ms-thumb {
  background: var(--key2-background-color);
  border: none;
  outline: none;
}
